/* l'effet de scroll */
html {
 scroll-behavior: smooth;
}
/* création des variables des police et des couleurs */
:root{
  --mainpink: #fb9dab;
  --mainorange: #FF813F;
  --fonttitle: "Sacramento", cursive;
  --fonttext: "Alice", serif;
}
/* la section à propos */
#banner{
  background-image: url("../img/coding.jpg");
}
#programming{
  background-image: url("../img/programming.jpg");
}
/* l'effet paralax pour deux images */
#programming,
#banner{
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* bannière et le descriptif */
.about{
  width: 50vw;
  background-color: rgba(255, 255, 255, .8);
  margin: 15rem auto .5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.logo{
  width: 7rem;
  border-radius: .6rem;
}
/* la barre de recherche: input et icone de recherche */
input{
  height: 3rem;
  border: 1px solid var(--mainorange);
  border-radius: 1rem;
}
input:focus{
  outline: none;
}
label,
input,
.icon{
  width: 25vw;
}
.fa-search{
position: relative;
font-size: 1.5rem;
z-index: 1;
top: 3.4rem;
padding-right: .5rem;
color: var(--mainorange);
}
/* le footer */
footer{
  height: 5rem;
}
/* les icones de contacts */
a{
  text-decoration: none;
   color: var(--mainorange);
}
/* Styliser les cartes */
.card{
  border: 1px solid #91a3b0;
  border-radius: 1rem;
}
.card:hover{
  scale: 1.1;
}
.card-img-top{
  border-radius: 1rem 1rem 0 0;
}
@media only screen and (max-width: 768px) {
  label,
  input,
  .icon{
    width: 100%;
  }
  /* bannière et le descriptif */
  .about{
    width: 90vw;
    margin: 1rem auto;
    font-size: 1rem;
    border-radius: .5rem;
  }
}
